	container {
	width: 100%;
	}
header {
	width: 100%;
	height:  150px;
	border: solid 1px black;
	background:  #cccccc;
	}
.img 	{
	border: solid 1px black;
	width: 120px;
	height: 120px;
	margin: 10px;
	float: left;
	background-image: url(img/logo1.jpg);
	transition-property: background-image;
  	transition-duration: 3s;
  	transition-delay: 0s, 1s;
  	transition-timing-function: cubic-bezier(0.1, 0.8, 0.5, 2), ease-in-out;
	}
	clear: both;
.img:hover {
	background-image: url(img/logo2.jpg);
}
h1 {
	font-family: arial;
	margin: 10px 0 0 10px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	}
h1:hover {
	color: red;
}
h3 {
	font-family: arial;
	margin: 10px;
	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;	
	}
h3:hover {
	color: white;
	}	
nav {
	width: 100%;
	height: 40px;
	border: solid 1px black;
	border-bottom: none;
	background: #000;
}
#nav_check {
	display: none;
}
label[for="nav_check"] {
	position: absolute;
	top: -100px;
	left: -100px;
	z-index: 1;
	display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background: #878787;
    border: solid 1px black;
}
.btn span {
	display: block;
    height: 3px;
    background-color: white;
    margin: 7px;
}
ul.topnav {
	list-style-type: none;
	margin: 0 0 0 -40px;
	}
ul.topnav li {
	float: left;
	clear-after: both;
	}
ul.topnav a {
	display: table;
	height: 20px;
	width: 120px;
	padding: 10px 0 10px 0;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: arial;
	}
ul.topnav a:hover {
	overflow: hidden;
	color: black;
	background: white;
	} 
aside {
	position: absolute;
	left: -290px;
	width: auto;
	min-width: 290px;
	min-height: 600px;
	height: auto;
	background: #ccc;
	float: left;
	clear: both;
	transition-property: left;
	transition-duration: .8s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	}
#search {
	margin: 0 0 50px 50px;
	}
main {
	display: table;
	max-width: 60%;
	height: 800px;
	margin: 10px 0 0 290px;
	padding: 0 15px 15px 15px;
	color: white;
	transition-property: color;
	transition-duration: 1.2s;
	transition-delay: .3s;
	transition-timing-function: ease-in;
	}
h4 {
	margin: 0 0 5px 0; 
	font-family: arial;
	}
p {
	text-align: left;
	margin: 0 0 10px 0;
	}
ul.menu {
	list-style: none;
	width: 250px;
	margin-left: -20px;
	}
ul.menu li label {
	background: #000;
	color: #fefefe;
	}
ul.menu li input[type='checkbox'] {
	display: none;
}
ul.menu li label {
	display: block;
	padding: 10px 0 10px 0;
	width: 250px;
	text-align: center;
	cursor: pointer;
}
ul.menu li label:hover {
	background: #fefefe;
	color: #000;
}
ul.menu li input[type='checkbox']:checked ~ label {
	background: #fefefe;
	color: #000;
}
ul.menu li input[type='checkbox']:checked ~ .options {
	height: auto;
	width: 250px;
}
ul.menu ul {
	background: #535353; 
	margin: 0; 
	padding: 0;
}
ul.menu ul li a {
	display: block;
	padding: 12px;
	color: #D6DE00;
	text-decoration: none;
	text-align: center;
	transition-property: color;
	transition-duration: .5s;
	transition-delay: 0s;
	transition-timing-function: ease;
}
ul.menu ul li a:hover {
	background: #878787;
	color: #fefefe;
}
.options {
	height: 0;
	display: block;
	overflow: hidden;
}
@media screen and (max-width: 800px) {
	aside {
		min-width: 150px;
	}
	#search {
		margin: 0 0 50px 25px;
		max-width: 150px;
	}
	ul.menu {
		width: 200px;
		margin-left: -40px;
	}
	ul.menu li label {
		padding: 10px 0 10px 0;
		width: 200px;
	}
	ul.menu li input[type='checkbox']:checked ~ .options {
		width: 200px;
	}
	ul.menu ul {
		margin: 0; 
		padding: 0;
	}
	ul.menu ul li a {
		padding: 12px;
	}
	main {
		max-width: 60%;
		margin: 10px 0 0 210px;
		height: auto;
	}
}
@media screen and (max-width: 560px) {
	h1 {
		font-size: 150%;
	}
	h3 {
		fot-size: 110%;
	}
	aside {
		top: 800px;
		height: auto;
		width: 100vw;
		left: -100vw;
		min-height: 300px;
	}
	#search {
		margin: 0 25vw 0 34vw;
		max-width: 50vw;
	}
	ul.menu li label {
		width: 100vw;
		border-bottom: solid 1px #fefefe;
		padding-right: 15px;
	}
	ul.menu li input[type='checkbox']:checked ~ .options {
		width: 100vw;
		padding-right: 15px;
	}
	ul.menu ul li a {
		padding: 12px;
	}
	main {
		width: 100%;
		margin: 10px 0 0 0;
	}
	main p {
		width: 85vw;
		padding: 0;
	}
}
@media only screen and (max-width: 395px) and (max-device-width: 395px;) {
	header {
		min-width: 340px;
	}
	nav {
		background: #fefefe;
		border: none;
		height: 0;
	}
	ul.topnav {
		display: block;
		position: absolute;
		height: 950px;
		width: 120px;
		z-index: 3;
		background: #000;
		opacity: 0.9;
		margin-left: 0;
		padding-left: 0;
		left: -200px;
		border: solid 1px black;
		transition-property: left;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
	}
	h1 {
		font-size: 110%;
	}
	h3 {
		font-size: 90%;
	}
	#search {
		margin: 0 25% 0 25%;
		max-width: 50%;
	}
	ul.menu li label {
		padding-left: 0;
	}
	ul.menu li input[type='checkbox']:checked ~ .options {
		padding-left: 0;
	}
	label[for="nav_check"] {
		top: 15px;
		left: 15px;
	}
	.img {
		margin-left: 55px;
	}
	#nav_check:checked ~ ul.topnav {
		left: 8px;
	}
	#nav_check:checked ~ label[for="nav_check"] {
		background: #000;
	}
}
